<div class="project-box">
    <div class="project-head">
        <div class="project-title">
            <h5>
                <a href="{% url 'office_system' sid=system.id %}">{{ system.name }}</a>
            </h5>
        </div>
    </div>
    <div class="project-info">
        <div class="row">
            <div class="col-sm-12 padded-v">
                <div class="lead">
                    {{ system.description }}
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-6">
                        <div class="el-tablo highlight">
                            <div class="label">
                                Объектов
                            </div>
                            <div class="value">
                                {{ system.objects_count }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="el-tablo highlight">
                            <div class="label">
                                Вопросов
                            </div>
                            <div class="value">
                                {{ system.questions_count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 text-right text-muted">
                {{ system.author }}
            </div>
        </div>
    </div>
</div>