{% extends 'office/layout.html' %}

{% block title %}Системы{% endblock %}
{% block breadcrumb_title %}Системы{% endblock %}
{% block page_title %}Системы{% endblock %}

{% block content %}
    <div class="os-tabs-w mx-4">
        <div class="os-tabs-controls">
            <ul class="nav nav-tabs upper">
                <li class="nav-item">
                    <a class="nav-link{% if page == 'mine' %} active{% endif %}"
                       href="{% url 'office_systems' page='mine' %}">
                        Мои системы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page == 'all' %} active{% endif %}"
                       href="{% url 'office_systems' page='all' %}">
                        Все системы
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="padded-lg" style="min-height: 500px">
                <div class="projects-list">
                    {% for system in systems %}
                        {% include 'office/systems_list_single.html' with system=system %}
                    {% empty %}
                        <div class="element-box">
                            <h3>Не найдено.</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="padded-lg col-lg-3 b-l-lg">
        </div>
    </div>
    <div class="floated-chat-btn">
        <i class="os-icon os-icon-edit-3"></i><span>Создать новую систему</span>
    </div>
{% endblock %}