{% extends 'science/layout.html' %}

{% block content %}
    {% load static %}
    <div class="row padded-v">
        <div class="col-md-8">
            <div class="element-box">
                {% if not finished %}
                    <h4 class="form-header">
                        {{ question.text }}
                    </h4>
                    {% if question.type == 0 %}
                        <div class="form-desc">
                            Выберете вариант ответа
                        </div>
                        <form action="" method="post" style="width: 100%">
                            <div class="row">
                                {% csrf_token %}
                                {% for a in answers %}
                                    <div class="col-md-6">
                                        <button name="answer" value="{{ a.id }}" type="submit"
                                                style="outline: none; cursor:pointer;"
                                                class="btn-block alert alert-{% cycle 'success' 'info' 'warning' 'danger' %}">
                                            {% if a.img %}
                                                <img class="mw-100" style="max-height: 300px;" src="
                                                {% if a.img %}{{ a.img.url }}{% endif %}"/>
                                            {% else %}
                                                {{ a.answer }}
                                            {% endif %}
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        </form>
                    {% else %}
                        <div class="form-desc">
                            Введите ответ
                        </div>
                        <form action="" method="post" style="width: 100%">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-8">
                                    {% if question.type == 1 %}
                                        <input name="answer_value" class="form-control form-control-lg" min="0"
                                               type="number"
                                               style="height: 100%"/>
                                    {% else %}
                                        <input name="answer_value" class="form-control form-control-lg" type="text"
                                               style="height: 100%"/>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-lg btn-block btn-primary" type="submit">Ответить</button>
                                </div>

                            </div>
                        </form>
                    {% endif %}
                    <div style="padding-top: 50px">
                        <div class="row">
                            <div class="offset-0 col-md-5" style="opacity: 0.6;">
                                <a href="{% url 'science_session' slug=slug skip=True %}"
                                   class="btn btn-block btn-outline-info">Пропустить
                                    вопрос</a>
                            </div>
                            <div class="offset-2 col-md-5" style="opacity: 0.6;">
                                <a href="{% url 'science_result' slug=slug %}" class="btn btn-block btn-outline-danger">Завершить</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12 text-center">
                        <h4 class="form-header">
                            Результат:
                            {{ object.name }}
                        </h4>
                        <img class="mw-100" style="max-height: 300px;" src="



                                {% if object.image %}{{ object.image.url }}{% else %}{% static 'img/front/system.jpg' %}{% endif %}"/>
                        <div class="padded-v">
                            <h6>{{ object.description }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-2 col-md-8" style="opacity: 0.6;">
                            <a href="{% url 'science' slug=slug %}" class="btn btn-block btn-outline-info">Выйти</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="element-box">
                <div class="centered-header">
                    <h6>Результаты:</h6>
                </div>
                {% for item in stat_items %}
                    <div class="os-progress-bar primary">
                        <div class="bar-labels">
                            <div class="bar-level-left">
                                <h6>{{ item.name }}</h6>
                            </div>
                            <div class="bar-level-right">
                                <span class="info">{{ item.value }}%</span>
                            </div>
                        </div>
                        <div class="bar-level-1" style="width: 100%">
                            <div class="bar-level-2" style="width: {{ item.value }}%"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}