{% extends 'science/layout.html' %}

{% block content %}
    {% load static %}
    <div class="row padded-v">
        <div class="col-md-8">
            <div class="element-box">
                {% if not finished %}
                    <h4 class="form-header">
                        {{ question.text }}
                    </h4>
                    {% if question.type == 0 %}
                        <div class="form-desc">
                            Выберете вариант ответа
                        </div>
                        <form action="" method="post" style="width: 100%">
                            <div class="row">
                                {% csrf_token %}
                                {% for a in answers %}
                                    <div class="col-md-6">
                                        <button name="answer" value="{{ a.id }}" type="submit"
                                                style="outline: none; cursor:pointer;"
                                                class="btn-block alert alert-{% cycle 'success' 'info' 'warning' 'danger' %}">
                                            {{ a.answer }}
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        </form>
                    {% else %}
                        <div class="form-desc">
                            Введите ответ
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                {% if question.type == 1 %}
                                    <input class="form-control form-control-lg" min="0" type="number"
                                           style="height: 100%"/>
                                {% else %}
                                    <input class="form-control form-control-lg" type="text" style="height: 100%"/>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-lg btn-block btn-primary">Ответить</button>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <h5>ВСЕ</h5>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="element-box">
                <div class="centered-header">
                    <h6>Результаты:</h6>
                </div>
                {% for item in stat_items %}
                    <div class="os-progress-bar primary">
                        <div class="bar-labels">
                            <div class="bar-level-left">
                                <h6>{{ item.name }}</h6>
                            </div>
                            <div class="bar-level-right">
                                <span class="info">{{ item.value }}%</span>
                            </div>
                        </div>
                        <div class="bar-level-1" style="width: 100%">
                            <div class="bar-level-2" style="width: {{ item.value }}%"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}